<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="ServiceURI_AddCredit" value="http://app.kidswant.com.cn/bigscreen/userjoin"/>
    <add key="CachedImageDirectory" value="CacheImageFile"/>
    <add key="EventsWebSocketSceneID" value="1"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
